@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'Quicksand', serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
  font-size: 18px;
}

a {
  text-decoration: inherit;
  color: #0067b8;
}

a:hover {
  text-decoration: underline;
  color: #00aae7;
}

header, footer {
  padding: 10px 0;
  text-align: center;
}



.social {
  text-align: center;
}

.container {
  max-width: 800px;
  background: #f5f5dc;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



#vietnam {
  position: relative;
  background-color: #da251d;
  width: 110px; /* Thu nhỏ lá cờ */
  height: 70px; /* Thu nhỏ lá cờ */
  margin: 20px auto; /* Canh giữa */
}

#vietnam .star {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-right: 33px solid transparent;
  border-bottom: 23px solid #ff0;
  border-left: 33px solid transparent;
  transform: translate(-50%, -50%) rotate(36deg) scale(0.9, 0.9);
}

#vietnam .star:before {
  content: '';
  display: block;
  position: absolute;
  top: -15.5px;
  left: -21.5px;
  height: 0;
  width: 0;
  border-bottom: 27px solid #ff0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(-35deg);
}

#vietnam .star:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: -35px;
  width: 0;
  height: 0;
  border-right: 33px solid transparent;
  border-bottom: 23px solid #ff0;
  border-left: 33px solid transparent;
  transform: rotate(-72deg);
}

@media screen and (min-width: 320px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
  }
}


