/*

SMOOTH RESPONSIVE RESIZE
Sizes based on View Width.

–

VARIABLES

The min screen size is 320px.

Setting 24px as the min font-size for <h1>.
Setting 64px as the max font-size for <h1>.

The objetive is make a smooth responsive resize between min e max sizes.
This will set the best size according screen size.

–

CALCULATING H1 SIZES

At 320px screen, font-size is equal 24px (7.5vw).
24*100/320 = 7.5vw

7.5vw is the "speed" for <h1> resizing.

At this speed <h1> will reach 64px at 853px.
24*100/5 = 480px

So, at 853px screen, the max font-size will be 64px.

*/

body {
	font-family: cousine, monospace;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 10px 20px 11px;
    display: inherit;
  }
  

  
 

  
  @media screen and (min-width: 320px) {


  }  
  
  @media screen and (min-width: 853px) {

  }  
  
  @media screen and (min-width: 640px) {

  } 
  
  @media screen and (min-width: 480px) {

  }